<link rel="stylesheet" href="/css/nav.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

<header class="header3">
    <div>
        <p>Port de plaisance Russel. Gestion des catways et réservations.</p>
        <i class="fa-solid fa-anchor"></i>
    </div>
    <script src="/javascript/app.js"></script>
</header>