<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404.css">
    <title>404</title>
</head>
<body>
  <%- include('partials/header3.ejs') %>
  <main>
    <div class="no">
        <p>Oups ! Il faut se <a href="/">connecter</a> pour continuer </p>
           <img src="image/5115903.webp" width="800">  
    </div>

  </main>
</body>
</html>