header {
    background: #0d2142;
    color: #fff;
    border-bottom: 2px dashed white;
    padding: 1em 0;
    text-align: center;
  }

header >.fa-solid{
    font-size: 2em;
}

  

footer {
  display: flex;
  background: #0d2142;
  color: #fff;
  border-top: 2px dashed white;
  padding: 1em 0;
  justify-content: center;
}

.header2{
  background: #0d2142;
  color: #fff;
  display: flex;
  border-bottom: 2px dashed white;
  padding: 1em 0;
  text-align: center;
  justify-content: space-evenly;
}

.header2 > ul{
  list-style-type: none;
}

.header2 > ul > li > a{
  color: #fff;
}

.header3{
  background: #0d2142;
  color: #fff;
  display: flex;
  border-bottom: 2px dashed white;
  padding: 1em 0;
  text-align: center;
  justify-content: space-evenly;
}

#logoutButton, #loginButton{
  background-color: #0d2142;
  border-radius: 50%;
  color: white;
  padding: 10px;
  margin: 7px;
  cursor: pointer;
}

#logoutButton:hover, #loginButton:hover {
  background: #0056b3;
}